.container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
  background:linear-gradient(140deg,black,grey,white);
}
.calculator{
  width:260px;
  border-radius: 10px;
  background-color:white;
  height: 390px;
  padding:20px;
  text-align: center;
  
}
form input{
  border:none;
  outline:0;
  width:60px;
  height:60px;
  font-size:16px;
  background-color:black;
  margin:2px;
  border-radius: 10px;
  color:white;
  font-weight: border;
  cursor: pointer;
  text-align: center;

}
form input[type="button"]:hover{
  background-color:blueviolet;
}
form.display{
  display:flex;
  justify-content: flex-end;
  margin:5px 0px 20px 0px;

}
form.display input{
  text-align: center;
  flex:1;
  font-size:40px;
  padding: 5px 10px;
  background-color: black;
  
}
form input #equal{
  width:115px;

}
.input-calculator {
  font-size: 32px;
  width:244px;
  text-align: right;

  

  
  }
.input-calculator1 {
  background-color: brown;
  text-align: center;
}